<div>
  <h1>User info</h1>
  
  <p><%= image_tag user.get_profile_image(100,100) %></p>
  
  <table>
    <tbody>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
    </tbody>
  </table>
  
  <div><%= link_to "fontawsome", edit_user_path(user.id) %></div>
</div>
